@import "tailwindcss";
@plugin "daisyui";
* {
  scroll-behavior: smooth;
  /* For WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(153, 39, 135, 0.2); /* 20% opacity version of main color */
  }

  &::-webkit-scrollbar-thumb {
    background: #992787;
    border-radius: 4px;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #992787 rgba(153, 39, 135, 0.2);
}